{% extends "13.bootstrap.html" %}
{% block subtitle %}산점도{% endblock %}
{% block content %}
    <style>
        input {margin: 3px;}
        .btn {margin-top: 20px;}
    </style>
    <form action="/scatter" method="post" style="margin-left: 500px;">
        <table>
            <tr>
                <td>점의 갯수</td>
                <td><input type="text" name="num"></td>
            </tr>
            <tr>
                <td>X 평균</td>
                <td><input type="text" name="mean"></td>
            </tr>
            <tr>
                <td>X 표준편차</td>
                <td><input type="text" name="std"></td>
            </tr>
            <tr>
                <td>Y 최솟값</td>
                <td><input type="text" name="min"></td>
            </tr>
            <tr style="margin-bottom: 40px;">
                <td>Y 최댓값</td>
                <td><input type="text" name="max"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary" value="확인"></td>
            </tr>
        </table>
    </form>
{% endblock %}