{% extends "13.bootstrap.html" %}
{% block subtitle %}수원 Hot Places{% endblock %}
{% block content %}
    <style>
        input {margin: 3px;}
        form {margin-bottom: 20px;}
    </style>
    <form action="hotPlaces" method="post">
        <input type="text" name="place1">           <!-- id = JS | class = CSS | name = Server -->
        <input type="text" name="place2">           
        <input type="text" name="place3">           
        <input type="submit" class="btn btn-primary" value="제출">
    </form>
{% endblock %}