<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수원 Hot Places</title>
    <style>
        input {margin: 3px;}
    </style>
</head>
<body style="margin: 40px;">
    <h3>수원 Hot Places 검색 결과</h3>
    <hr>
    <iframe src="{{url_for('static', filename='img/hotPlaces.html')}}" frameborder="1" width="800" height="500"></iframe>
    <button onclick="location.href='/hotPlaces'">재실행</button>
</body>
</html>