{% extends "13.bootstrap.html" %}
{% block subtitle %}베스트셀러(인터파크 추천){% endblock %}
{% block content %}
    <table style="margin-left: 140px;">
        <tr>
            <th>순위</th>
            <th>이미지</th>
            <th>타이틀</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td>{{book.순위}}</td>
            <td><img src="{{book.이미지}}" height="40"></td>
            <td><a href="{{book.href}}" target="_blank">{{book.타이틀}}</a></td>
            <td>{{book.저자}}</td>
            <td>{{book.출판사}}</td>
            <td>{{book.가격}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}