<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERPARK bestseller</title>
    <style>
        th {font-weight: bold;}
        td {text-align: center;}
    </style>
</head>
<body style="margin: 40px;">
    <h1><strong>베스트셀러(인터파크 추천)</strong></h1>
    <hr>
    <table>
        <tr>
            <th>순위</th>
            <th>이미지</th>
            <th>타이틀</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td>{{book.순위}}</td>
            <td><img src="{{book.이미지}}" height="40"></td>
            <td><a href="{{book.href}}" target="_blank">{{book.타이틀}}</a></td>
            <td>{{book.저자}}</td>
            <td>{{book.출판사}}</td>
            <td>{{book.가격}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>