<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melon Chart</title>
</head>
<body style="margin: 40px;">
    <h3>멜론차트 Top 100</h3>
    <hr>
    <table>
        <tr>
            <th>Rank</th>
            <th>Image</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
        {% for music in music_list %}
        <tr>
            <td style="text-align: center;">{{music.rank}}</td>
            <td style="text-align: center;"><img src="{{music.image}}" height="40"></td>
            <td>{{music.title}}</td>
            <td>{{music.artist}}</td>
            <td>{{music.album}}</td>
        </tr>
        {% endfor %}
    </table>
</body>