<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Ranking</title>
</head>
<body style="margin: 40px;">
    <h3>구독자수 Top 20 채널</h3>
    <a href="/re_youtube_ranking"><button>Youtube Ranking Top 1000</button></a>
    <a href="/top10"><button>카테고리별 채널수 Top 10 확인하기</button></a>
    <hr>
    <img src="{{ url_for('static', filename='img/top20_subscriber.png') }}">
</body>