<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song 수정</title>
    <style>
        input {margin: 3px; padding: 3px;}
    </style>
</head>
<body style="margin: 40px;">
    <h3>히트곡 수정</h3>
    <hr>
    <form action="/song/update/{{song[0]}}" method="post">
        <input type="text" name="title" value="{{song[1]}}"><br>
        <input type="text" name="lyrics" value="{{song[2]}}"><br>
        <input type="submit" value="수정">
    </form>
</body>
</html>